body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
    font-family: Arial, sans-serif;
    color: #fff;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    border: 2px solid #fff;
    font-size: 2em;
    cursor: pointer;
    color: #fff;
}

.cell:hover {
    background-color: #555;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #444;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #666;
}
.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #fdf6bc;
    color: #000;
    border: 1px solid #000;
    cursor: pointer;
    text-decoration: none;
    font-family: "Courier New", Courier, monospace;
    border-color: #000;
    border-radius: 4px;
  }