body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
}

canvas {
    border: 2px solid #fff;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #444;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #666;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #fdf6bc;
    color: #000;
    border: 1px solid #000;
    cursor: pointer;
    text-decoration: none;
    font-family: "Courier New", Courier, monospace;
    border-color: #000;
    border-radius: 4px;
  }