body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000000;
}

canvas {
    border: 2px solid #4a4a4a;
}

#playAgainButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    display: none; /* Hide the button initially */
}

#playAgainButton:hover {
    background-color: #45a049;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #fdf6bc;
    color: #000;
    border: 1px solid #000;
    cursor: pointer;
    text-decoration: none;
    font-family: "Courier New", Courier, monospace;
    border-color: #000;
    border-radius: 4px;
  }